html {
  scrollbar-width: thin;
}

body {
  background-color: #222222;
  color:#bababa;
  font-size: calc(1em + 0.25vw);
  font-family: monospace;
  margin: calc(1em + 2.5vw);
}

h1 {
  color: #eaeaea;
  text-align: center;
  font-size: calc(2em + 1vw);
}

a {
  color:#eaeaea;
}

code {
   background-color: #444444;
}
