<head>
	<link rel='stylesheet' type='text/css' href='styles/style.css'>
	<title>Welcome! - Saksham Mittal's Website</title>
</head>
<div align='center'>
<h1><a href="index.html">Saksham Mittal</a></h1>
<a href='aboutme.html'>About Me</a>·<a href='comingsoon.html' title='coming soon!'>RSS</a>·<a href="https://github.com/gotlougit">GitHub</a></p>
<p>This is my website! It's still a work in progress in some areas but I'll be polishing it up in the future.</p>

<p>Here you will find blogposts on programs I write, or projects I contribute to, as well as cool stuff I find on the Internet from time to time.</p>
<hr />
</div>

<!-- HEAD END -->
