body {
  background-color: #222222;
  color:#bababa;
  font-size:100%;
  font-family: monospace;

h1 {
  color: #eaeaea;
  text-align: center;
  font-size:30vw;
}

a {
  color:#eaeaea;
}

p {
  font-size:15vw;
}
